body {
color: black;
margin:0px;
font-family: arial, sans-serif, helvetica;
background-color: white; /*#B56300;*/
}

.banner {
width: 100%;
height: 72px;
background: #FF8B00;
display:block;
}
.bannerselect { 
	position:absolute;left:135px;top:13px;font-size:0.95em;
}
.bannerselect option {}

.bannertitle {
	position:absolute;left:145px;top:25px;
	font: 20pt bold arial, sans-serif, helvetica;
	color: black;
}


.pageoptiondiv {
width: 100%;
border-top:solid #522900 1px;
color: yellow;
background-color: #B56300;
font-weight:bold;
margin:0px;
}
.pagecontentdiv {
width: 100%;
border-top:solid #522900 2px;
background: white; /*#944D00;*/
color: black;
margin:0px;
}

.fauxlink {
	text-decoration: underline; 
	cursor:pointer;
}

	
.lean {
width: 100%;
margin:0px;
}
.lean td {
	text-align: center;
}

.nokey {
	color: red;
	cursor: pointer;
}

.warning {
	color: red;
}

.highpriority.top td { border-top: solid red 2px; }
.highpriority.bottom td { border-bottom: solid red 2px; }
.highpriority.row td:first-child { border-left: solid red 2px; }
.highpriority.row td:last-child { border-right: solid red 2px; }

.tip {
	color: darkgreen;
	font-style:italic;
}

.canceledtask {
	background: #FD9393;
	color: black;
	text-decoration: line-through !important;
}

.completedtask {
	background: #05BB05;
}	

.noncompletedtask {
	background: #FEFF99;
}


.petfont {
	font-size: 0.85em;
}

.tinynote {
	font-size: 0.7em;
}

.visitlist  {
	width:100%;
}
.visitlist td {
	padding-top:5px;
}

.visitlistsepr  {
border-bottom: solid #522900 1px;
font-size:3px;
padding-top:0px;
}

.disabled {
	color: lightgray;
}

a {
	color: black;
}

.countdown {
	font-weight:bold;
	position:absolute;
	left: 145px;
	top: 50px;
	color: yellow;
}

h2 {
	font-size: 1.2em;
	font-weight:bold;
}

h3 {
	font-size: 1em;
	font-weight:bold;
}

.Button {
	background: yellow;
	color: black;
}

.ButtonDown {
	background: #CEB300; /* dark yellow */
	color: black;
}

.fauxlink {
	text-decoration: underline; 
	cursor:pointer;
}

.redfauxlink, .redfauxlink:link, .redfauxlink:visited, .redfauxlink:focus, .redfauxlink:hover, .redfauxlink:active {
	text-decoration: underline;
	color: red;
}

input.HotButton {
  font-family: inherit;
  font-size: inherit;
  color: #FFFF99;
  background: #FF0000;
}

input.HotButtonDown {
  font-family: inherit;
  font-size: inherit;
  color: #FFFF99;
  background: #B20800;
}

.labelcell {
  font-size: 1.08em;
}
.dataCell {
  font-size: 1.08em; 
}
.sortableListCell { 
	font-size: 0.85em; 
}
.topline td {
	font-size: 1.08em;
}
