.noticeblock {
	font-size:1.5em;
}

.shrinkBanner td {
  background: #2FABAF;
  color:white;
  font: bold 10pt Arial;
  padding:2px;
	border: solid white 2px;
}

/*td {font: 10pt Arial;}*/
/*th {font: bold 10pt Arial;text-align:left;}*/

.tabbox {
	border: solid black 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background: #FFE9E9;  /* #e9e9ff */
}
.clienttabbox {
	min-width:752px;
	width:752px;
}

.providertabbox {
	min-width:752px;
	width:752px;
}

.bold {font-weight:bold;}

.tabcellOn {
	cursor: pointer;
	background: #FFE9E9;
	font: bold 1.1em Arial;
	border: solid black 1px;
	border-bottom: solid #FFE9E9 1px;
	padding-left: 5px;
}

.tabcellOff {
	cursor: pointer;
	background: lightgrey;
	color: #555555;
	font: normal 1em Arial;
	border: solid #996600 1px;
	border-bottom: solid lightgrey 1px;
	padding-left: 5px;
}

.tabcellOver {
	cursor: pointer;
	background: lightblue;
	color: #555555;
	font: bold 1.1em Arial;
	border: solid black 1px;
	border-bottom: solid lightblue 1px;
	padding-left: 5px;
}

.tabpage {
	vertical-align: top;
	border-bottom: solid lightgrey 1px;
	border-left: solid lightgrey 1px;
	border-right: solid lightgrey 1px;
	width: 9000px;
}	

.tabrow {
	/*border-bottom: solid #FFFF99 1px;*/
	margin-bottom: 0px;
	padding-bottom: 0px;
	/*background: white;*/
}	

input.tabNavButton {
  font-family: inherit;
  font-size: inherit;
  color: black;
  background: #99FFCC;
}

input.tabNavButtonDown {
  font-family: inherit;
  font-size: inherit;
  color: black;
  background: #19FFCF;
}

.defaultButton {
}

.fontSize0_7em {font-size: 0.7em;}
.fontSize0_8em {font-size: 0.8em;}
.fontSize0_9em {font-size: 0.9em;}
.fontSize1_1em {font-size: 1.1em;}
.fontSize1_2em {font-size: 1.2em;}
.fontSize1_3em {font-size: 1.3em;}
.fontSize1_4em {font-size: 1.4em;}
.fontSize1_5em {font-size: 1.5em;}
.fontSize1_6em {font-size: 1.6em;}
.fontSize1_7em {font-size: 1.7em;}
.fontSize1_8em {font-size: 1.8em;}
.fontSize1_9em {font-size: 1.9em;}
.fontSize2_0em {font-size: 2.0em;}
.fontSize2_1em {font-size: 2.1em;}
.boldfont {font-weight: bold;}
.center {text-align: center;}
.left {text-align: left;}

.wizardtitle {
	font: bold 10pt Arial;text-align:left;
	color: darkgreen;
}

.weekdaygrid {
	border: solid black 2px;
	padding: 5px;
	background: white;
}

.palegreen {background:palegreen;}

.weekdaygridOn {
	background: white;
	color: green;
	text-decoration: underline;
	text-align: center;
	font-weight:bold;
	padding: 5px;
	cursor: pointer;
}

.weekdaygridOff {
	background: lightgrey;
	color: darkgrey;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}

.petgrid {
	border: solid black 2px;
	padding: 5px;
	background: white;
}

.petgridOn {
	background: white;
	color: green;
	text-decoration: underline;
	text-align: center;
	font-weight:bold;
	padding: 5px;
	cursor: pointer;
}

.petgridOff {
	background: lightgrey;
	color: darkgrey;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}

input {
  font-size: 1em;
}

input.VeryLongInput {
  font-size: 1em;
  width: 400px;
}

input.Input45Chars {
  font-size: 1em;
  width: 280px;
}

input.Input40Chars {
  font-size: 1em;
  width: 235px;
}

select.inline {
  display:inline;
}

textarea {
  font-size: 1em;
}

td {
  padding:2px;
}

th {
  padding:2px;
}

input.Button {
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: #D97700;
}

input.ButtonDown {
  font-family: inherit;
  font-size: inherit;
  color: #FFFF99;
  background: #B36200;
}

input Embiggened {
  font-size: 1.5em;
}

input.BigButton {
  font-family: inherit;
  font-size: 1.5em;
  color: white;
  background: #D97700;
}

input.BigButtonDown {
  font-family: inherit;
  font-size: 1.5em;
  color: #FFFF99;
  background: #B36200;
}

input.SmallButton {
  font-family: inherit;
  font-size: 0.85em;
  color: white;
  background: #D97700;
}

input.SmallButtonDown {
  font-family: inherit;
  font-size: 0.85em;
  color: #FFFF99;
  background: #B36200;
}

input.HotButton {
  font-family: inherit;
  font-size: inherit;
  color: #FFFF99;
  background: #FF0000;
}

input.HotButtonDown {
  font-family: inherit;
  font-size: inherit;
  color: #FFFF99;
  background: #B20800;
}

input.BlueButton {
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: blue;
}

input.BlueButtonDown {
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: darkblue;
}

input.closeButton {
	font-family: inherit;
	font-size: inherit;
	color: #FFFF99;
	background: #FF0000;
	float:right;
}

input.closeButtonDown {
	font-family: inherit;
	font-size: inherit;
	color: #FFFF99;
	background: #B20800;
	float:right;
}


.taskTable {
	width:95%;
  border-collapse: separate;
  border-spacing: 10px;
  background: white;
}

.taskTableProviderCell {
	padding-bottom: 7px;
}

.task {
	padding: 0px;
}

.sortableListHeader {
  font-size: 1.05em;
  padding-bottom: 5px; 
  border-collapse: collapse;
}

.sortableListHeader2 {
  font-size: 1.05em;
  padding-bottom: 5px; 
  border-collapse: collapse;
}

.dollaramountheader {
  font-size: 1.05em;
  padding-bottom: 5px; 
  border-collapse: collapse;
	text-align: center;
}

.dollaramountheader_right {
  font-size: 1.05em;
  padding-bottom: 5px; 
  border-collapse: collapse;
	text-align: right;
}

.sortableListCell {
  font-size: 1.05em; 
  padding-bottom: 4px; 
  border-collapse: collapse;
  vertical-align: top;
}

.pagenote {
	color: darkgreen;
}

.inactive {
	color: lightgray;
}

.pagingButton {
  width:93px;
  text-align:center;
  border:solid black 0px;
}

.warning {
	color: red;
}

.purplewarning {
	color: #7109FF;
}

.italicized {
	font-style:italic;
}

.standardInput {
  font-size: 1.0em; 
}

.standardInputLikeBox {
  font-size: 1.0em;
  border: solid black 1px;
  background: white;
  padding-left: 2px;padding-right: 2px;
}

.standardInputRight {
  font-size: 1.0em;
  text-align: right;
}

.emailInput {
  font-size: 1.0em;
  width:200px;
}

.fullWidthInput {
  font-size: 1.0em;
  width:100%;
}

.input300 {
  font-size: 1.0em;
  width:300px;
}

.input600 {
  font-size: 1.0em;
  width:300px;
}

.input250 {
  font-size: 1.0em;
  width:250px;
}

.streetInput {
  font-size: 1.0em;
  width:200px;
}

.completedtask {
	background: lightgreen;
}
.completedtask:hover {
	background-color:#aaaaFF !important;
}

.completedtaskEVEN {
	background: #CDFECD;
}
.completedtaskEVEN:hover {
	background-color:#aaaaFF !important;
}

.paymenttask {
	background: #C3C6FF;
}
.paymenttask:hover {
	background-color:#aaaaFF !important;
}

.paymenttaskEVEN {
	background: #9194FF;
}
.paymenttaskEVEN:hover {
	background-color:#aaaaFF !important;
}

.noncompletedtask {
	background: #FEFF99;
}
.noncompletedtask:hover {
	background-color:#aaaaFF !important;
}

.noncompletedtaskEVEN {
	background: #FEFFB5;
}
.noncompletedtaskEVEN:hover {
	background-color:#aaaaFF !important;
}

.canceledtask {
	background: #FFC0CB;
	text-decoration: line-through !important;
}
.canceledtask:hover {
	background-color:#aaaaFF !important;
	text-decoration: line-through !important;
}

.canceledtaskEVEN {
	background: #FF93A5;
	text-decoration: line-through !important;
}
.canceledtaskEVEN:hover {
	background-color:#aaaaFF !important;
	text-decoration: line-through !important;
}

.highlightyellow {
	background-color:yellow !important;
}

.futuretask {
	background: white;
}
.futuretask:hover {
	background-color:#aaaaFF !important;
}

.futuretaskEVEN {
	background: #EEE5FF;/* #FFE3E3; rose*/ /* #F6E5F7 lilac*/ /* #EEEEFF VERY light blue */
}
.futuretaskEVEN:hover {
	background-color:#aaaaFF !important;
}

.payment {
	background: white;
	color: green;
}

.paymentEVEN {
	background: #EEE5FF;/* #FFE3E3; rose*/ /* #F6E5F7 lilac*/ /* #EEEEFF VERY light blue */
	color: green;
}

.highprioritytask {
	border: solid red 4px;
}

.boxedtext {
	border: solid gray 1px;
}


.dollaramountcell {
  font-size: 1.05em; 
  padding-bottom: 4px; 
  padding-right: 24px; 
  border-collapse: collapse;
	text-align: right;
	vertical-align: top;

}

.revenuecell {  /* same as dollaramount cell, but useful for counting revenue */
  font-size: 1.05em; 
  padding-bottom: 4px; 
  padding-right: 24px; 
  border-collapse: collapse;
	text-align: right;
	vertical-align: top;
	display:none;
}

.displayNone {display:none;}

.daycalendartable { /* whole daycalendar table */
	border: solid black 1px;
	width:100%;
	border-collapse: separate;
}

.daycalendardaterow { /* daycalendar td which displays date */
	background:lightblue;
	text-align:center;
	border: solid black 1px;
	font-weight:bold;
}

.daycalendartodcell {/* daycalendar td which displays block for a time of day */
	vertical-align:top;
	border-left-width: 1px;
	border-left-color: black;
	border-left-style: solid;
}
	
.daycalendartodcellFIRST {/* daycalendar td which displays block for a time of day */
	vertical-align:top;
}
	
.daycalendartodcelltable {/* table contained by  daycalendartodcell*/
  width: 100%;
	margin-left:auto; 
	margin-right:auto;
	border-collapse: separate;
}
	
.daycalendarobjectcell {/* cell contained by daycalendartodcelltable*/
	border: solid black 1px;
}

.daycalendarobjectcellborderless {/* cell contained by daycalendartodcelltable*/
	border: solid black 0px;
}

.daycalendarappointmentcomplete{/* table contained by daycalendarobjectcell which displays a completed appointment */
  width:100%;
	background: lightgreen;
}

.daycalendarappointmentcanceled {/* table contained by daycalendarobjectcell which displays a canceled appointment */
  width:100%;
	background: pink;
}

.daycalendarappointmentnoncompleted {/* table contained by daycalendarobjectcell which displays a completed appointment */
  width:100%;
	background: #FFFF66;;
}

.daycalendarappointmenthighpriority {
  width:100%;
	border: solid red 4px;
}


.daycalendarappointment {/* table contained by daycalendarobjectcell which displays an appointment */
  width:100%;
	background: lightyellow;
}

.daycalendarappointmentcomplete td , .daycalendarappointment td,
.daycalendarappointmenthighpriority td, .daycalendarappointmentcanceled td
.daycalendarappointmentnoncompleted td {
	padding: 2px;
	font-size:1.0em;
}

.daycalendarsubrow {/* daycalendartodcell td which displays subsection, such as provider */
	background:palegreen;
	font-weight:bold;
	/*border: solid black 1px;*/
}

.daycalendartodheader {/* daycalendar td which displays time of day header */
	font-style:normal;
	text-align:center;
	width: 25%;
}

.othersittertag {
	background-color:#82A53D;
	color:yellow;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

.pink td {background: pink;} 

.timeFrame {
	border: solid black 2px;
	padding: 5px;
	background: white;
}

.timeframeinput {
	width:20px;
}

.dollarinput {
	width:50px;
}

.timeframerAMPM_On {
	background: white;
	text-align: center;
	font-weight:bold;
	padding: 2px;
	border: solid black 1px;
	width:20px; onFocus='this.className=\"popitfocus\"' onBlur='this.className=\"popitmenu\"'>
	display:inline;
}

.timeframerAMPM_Off {
	background: lightgrey;
	color: 	#F8F8F8;
	text-align: center;
	padding: 2px;
	border: solid darkgrey 1px;
	width:20px;
	display:inline;
}

.inactivePet {
	background: #D8BFD8;
}

.darkgreen {
	color:darkgreen;	
}

.tiplooks {
	text-align:center;
	color:darkgreen;
	font-style:italic;
}

.tiplooksleft {
	text-align:left;
	color:darkgreen;
	font-style:italic;
}

.rightAlignedTD {
	text-align:right;
}

.dateInput {
	width: 70px;
}
	
.olderappointment	{
	background: lightgrey;
}

.fauxlink {
	text-decoration: underline; 
	cursor:pointer;
}

.fauxlinknoline {
	cursor:pointer;
}

.titlehint {
	text-decoration: underline; 
	text-decoration-style: dotted; 
	cursor:pointer;
}

.redfauxlink, .redfauxlink:link, .redfauxlink:visited, .redfauxlink:focus, .redfauxlink:hover, .redfauxlink:active {
	text-decoration: underline;
	color: red;
}

.storedValue {background: lightgrey;}

#popitmenu{
position: absolute;
background-color: white;
border:1px solid black;
font: normal 1.0em Verdana;
line-height: 18px;
z-index: 100;
visibility: hidden;
}

#popitmenu a{
text-decoration: none;
padding-left: 6px;
color: black;
display: block;
}

#popitmenu a:hover{ /*hover background color*/
background-color: #CCFF9D;
}

.popitfocus {background-color: #CCFF9D;}
.popitblur {background-color: white;}

.rowstripegrey {background-color: lightgrey;}
.rowstripewhite {background-color: white;}

.messagetextarea {font-size:1.2em;}

@media print
{
	.breakbefore {page-break-before:always;}
}

.searchdiv {
	width:270px; height:180px;
	position:absolute; top:0px; left:66px;
	font-size:1.2em;
	border: solid black 1px;
	background:white;
	overflow:hidden;
	display:none;
	z-index: 9999;
}

.pagingBox {border:solid black 0px;}
.pagingBoxUp {border:solid black 1px;background:lightblue;text-align:center;}
.pagingBoxDown {border:solid black 1px;background:lightblue;text-align:center;}

.postcardsuppressed {background: pink;}
.postcardunviewed {font-weight:bold; background:yellow;}
.postcardviewed {}
.postcardexpired {color:darkgrey}

.greyedout {color:darkgrey}
